@font-face {
    font-family: "flame-bold";
    src: url("fonts/Flame-Bold.woff") format("woff");
    src: url("fonts/FlameBold.otf") format("opentype");
}

@font-face {
    font-family: "flame-sans";
    src: url("fonts/FlameSans.otf") format("opentype");
}

@font-face {
    font-family: "flame-regular";
    src: url("fonts/FlameRegular.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "flame-sans";
    /* font-family: .... */
}

:root{
     --body-color:#fff; 
     --nav-color:#fff;
     --side-nav:#;
     --text-color: #502314;
     --search-bar:#f2f2f2;
     --search-text: #502314;   
}

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--body-color);
}

body.dark{
    --body-color:#18191A; 
    --nav-color:#242526;
    --side-nav:#242526;
    --text-color: #CCC;
    --search-bar:#242526;
    --search-text: #502314;  

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}



nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1200px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

img.navLogo {
    max-width: 75%;
    height: auto;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;    
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}


.nav-links li a::before { 
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight-searchBox {
    display: flex;
    align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i,
.searchToggle i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}


.searchToggle i.cancel {
    opacity: 0;
    pointer-events: none;
}

.searchToggle.active i.cancel {
    opacity: 1;
    pointer-events: auto;
}

.searchToggle.active i.search {
    opacity: 0;
    pointer-events: none;
}

.searchBox {
    position: relative;
}

.searchBox .search-field {
    position: absolute;
    bottom: -85px;
    right: 5px;
    height:50px;
    width: 300px;
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.searchToggle.active ~ .search-field {
    bottom: -74px;
    opacity: 1;
    pointer-events: auto;
}

.search-field::before {
    content: '';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background-color: var(--nav-color);
    transform: rotate(-45deg);
    z-index: -1;
}



.search-field input {
    height: 100%;
    width: 100%;
    padding: 0 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400px;
    color: var(--search-text);
    background-color: var(--search-bar);
}

body.dark .search-field input{
    color: var(--text-color);
}

.search-field i {
    position: absolute;
    color: var(--text-color);
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

body.dark .search-field i{
    color: var(--text-color);
}

@media (max-width: 1150px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }
    .menu{
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }
    nav.active .menu{
        left: -0%;

    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    nav.active img.logo.navLogo {
        opacity: 0;
    }
    
    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }
    
    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }


}

/** nav end **/

section.groenbaggrund {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: #198737;  
}

img.burger {
    max-width: 100%;
    height: auto;
}

.burger {
    position: absolute;
    top: 120px;
}




h1.flammegrillet {
    position: absolute;
    right: 140px;
    top: 120px;
    color: #ffffff;
    font-size: 100px;
    font-family: "flame-bold";

    font-weight: 800;
    line-height: 110px;
    float: right;
    text-transform: uppercase;
}

h2.underoverskrift {
    position: relative;
    right: 400px;
    top: 380px;
    width: 35%;
    color: #fff;
    float: right;
    font-family: "flame-sans";
    font-size: 20px;
    font-weight: 10;
    line-height: 30px;
}

button.sevoresmenu {
    position: relative;
    right: 170px;
    top: 600px;
    background-color: #198737;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 16px;
    margin-left: 50%;
    float: left;
    margin-top: -110px;
    letter-spacing: 0px;
    border-width: 2px;
    border-style: solid;
    font-family: "flame-regular";
}

button.sevoresmenu:hover {
    background-color: #ffffff;
    color: #020301;
    cursor: pointer;
}

/*a*/

.favoritter {
    padding-top: 80px;
    color: var(--text-color);
    font-family: "flame-bold";
}

.voresfavoritter {
    font-size: 45px;
    text-align: center;
    height: 550px;
}

.krow {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: -500px;
    margin-bottom: 150px;
}

.krow-child {
    padding: 40px 40px;
}

.favoritbilleder {
    height: 150px;
    background-size: 400px;
}

.titler {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    width: 80%;
}

.lokaleburgerking {
    background-color: #d62300;
    height: 500px;
    padding: 100px;
    font-family: "flame-bold";
}

.findburgerking {
    color: #ffffff;
    font-size: 50px;
    padding-top: 50px;
    margin-left: -200px;
}

.sundae {
    float: left;
    margin-top: -110px;
    margin-left: -9%;
    height: 510px;
}

.lokation {
    padding: 25px;
    padding-left: 80px;
    padding-right: 80px;
    float: left;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #d62300;
    border: none;
}

footer {
    height: 180px;
    padding: 50px;
}

.section1 {
    height: 600px;
    background-color: #f5ebdc;
    margin-top: 110px;
}
