@font-face {
    font-family: "flame-bold";
    src: url("fonts/Flame-Bold.woff") format("woff");
    src: url("fonts/FlameBold.otf") format("opentype");
}

@font-face {
    font-family: "flame-sans";
    src: url("fonts/FlameSans.otf") format("opentype");
}

@font-face {
    font-family: "flame-regular";
    src: url("fonts/FlameRegular.otf") format("opentype");
}

* { padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    border-bottom-style: solid;
    border-bottom-color: #f5ebdc;
    width: 60%;
    height: 40px;
    margin-right: 20%;
    margin-left: 20%;
    border-width: thin;
    margin-bottom: 20px;
}

.fa-solid {
    margin-top: 15px;
    margin-left: 820px;
}

.logind {
    font-weight: 800;
    float: right;
    margin-top: 15px;
}

nav { 
    background: #ffffff;
    width: 100%;
}

nav ul {
    float: right; 
    margin-right: 20%;
}

nav ul li {
    display: inline-block;
    margin: 0 7px; 
}

nav ul li a {
    color: #502314; 
    font-size: 16px; 
    padding: 7px 10px;
    border-radius: 2px;
    text-decoration: none;
    font-family: "flame-sans";
    font-weight: 600;
}

.active {
    display: none;
}

.findrestaurant {
    background-color: #CC2200;
    color: #f5ebdc;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #CC2200;
    margin-left: 3%;
    border-style: solid;
    font-family: "flame-regular";
}

.findrestaurant:hover {
    background-color: #f5ebdc;
    color: #CC2200;
    cursor: pointer;
}

/* Hamburger Menu */



.logo {
    margin-bottom: -2%;
}

#picss{
	opacity:0;
	transition:opacity 1.0s linear 0s;
    font-family: "flame-regular";
    color: white;
    margin-left: 400px;
    font-size: 20px;
}

.groenbaggrund {
    display: block;
    margin-top: 105px;
    background-color: #198737;
    height: 675px;
    width: 100%;
    padding-top: 100px;
}

.flammegrillet {
    color: #ffffff;
    font-size: 80px;
    font-family: "flame-bold";
    margin-top: 50px;
    font-weight: 800;
    line-height: 110px;
    float: right;
    width: 50%;
    text-transform: uppercase;
}

.underoverskrift {
    color: #ffffff;
    font-size: 20px;
    float: right;
    width: 25%; 
    font-weight: 600;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 25%;
    margin-top: -250px;
    line-height: 30px;
    text-decoration: none;
    font-family: "flame-sans";
    font-weight: 10;
}

.sevoresmenu {
    background-color: #198737;
    color: #ffffff;
    border-color: #ffffff;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 16px;
    margin-left: 50%;
    float: left;
    margin-top: -110px;
    letter-spacing: 0px;
    border-width: 2px;
    border-style: solid;
    font-family: "flame-regular";
}

.sevoresmenu:hover {
    background-color: #ffffff;
    color: #020301;
    cursor: pointer;
}

.favoritter {
    padding-top: 80px;
    color: #502314;
    font-family: "flame-bold";
}

.voresfavoritter {
    font-size: 45px;
    text-align: center;
    height: 550px;
}

.krow {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: -500px;
    margin-bottom: 150px;
}

.krow-child {
    padding: 40px 40px;
}

.favoritbilleder {
    height: 150px;
    background-size: 400px;
}

.titler {
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    width: 80%;
}

.lokaleburgerking {
    background-color: #d62300;
    height: 500px;
    padding: 100px;
    font-family: "flame-bold";
}

.findburgerking {
    color: #ffffff;
    font-size: 50px;
    padding-top: 50px;
    margin-left: -200px;
}

.sundae {
    float: left;
    margin-top: -110px;
    margin-left: -9%;
    height: 510px;
}

.lokation {
    padding: 25px;
    padding-left: 80px;
    padding-right: 80px;
    float: left;
    margin-left: 120px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: #d62300;
    border: none;
}

footer {
    height: 180px;
    padding: 50px;
}

.section1 {
    height: 600px;
    background-color: #f5ebdc;
    margin-top: 110px;
}
